html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font: 'Pacifico', cursive;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 760px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em;
}
.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
.deck .card.open {
    transform: rotateY(180deg);
    transition: 0.5s;
    background: #02b3e4;
    cursor: default;
}
.deck .card.show {
    font-size: 33px;
}
.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.deck .card.notmatch {
  background: #EE0E51;
}

.avoidClick {
    pointer-events: none;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    pointer-events: none;
}
.score-panel .stars li {
    list-style: none;
    display: inline-block;
    float: left;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
}
/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.site-title.start {
    margin: 0 0 20px;
    text-align: center;
    color: #40E0D0;
    text-shadow: 0 0 2px #000;
    /* horizontal-offset vertical-offset 'blur' colour */

    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
    font: 'Pacifico', cursive;
}
.leveltwo,
.start {
    margin: 0 0 20px;
    flex-basis: 100%;
    text-align: center;
}
/* modal close Button */

.close {
    color: #aaa;
    font: bold 24px/24px Helvetica, Arial, Sans-Serif;
    width: 100%;
    text-align: right;
}
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-content {
    position: relative;
    /*background-color: #fff;*/

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(1, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    /*-moz-box-shadow:    inset 0 0 10px ;
   -webkit-box-shadow: inset 0 0 10px ;
   box-shadow:         inset 0 0 10px ;*/

    -moz-box-shadow: 3px 3px 5px 3px;
    -webkit-box-shadow: 3px 3px 5px 3px;
    box-shadow: 3px 3px 5px 3px;
}
/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
.modal-data {
    float: left;
    text-align: center;
    width: 50%;
    margin-left: 9em;
    color: #40E0D0;
    margin: 10px 150px 10px 150px;
}
.play-again {
    width: 100%;
}
.info {
    text-align: center;
    overflow: auto;
    margin: 8px 1px 10px 1px;
}
.score_star {
    overflow: auto;
    /*margin: 10 20px 0 0;*/
}
.congrats {
    font: 'Pacifico', cursive;
    color: #40E0D0;
    margin: 10px;
    text-align: center;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 2px 0 #000;
    margin: 0 20px 0 0;
    width: 100%;
}
.win-text {
    font: italic 18px/24px Helvetica, Arial, Sans-Serif;
    text-align: center;
    color: #40E0D0;
}
button {
    border: 0px solid rgba(123, 123, 123, 0.498039);
    border-radius: 10px;
    color: rgb(153, 153, 153);
    line-height: 55px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #40E0D0;
    cursor: pointer;
    /*height: 50%;*/

    width: 20%;
    display: block;
    margin: 0 auto;
}
button:hover {
    background: #e5e500;
    text-decoration: none;
}

/*@media only screen
and (max-device-width : 800px)
and (min-device-width : 414px) {
  .deck { width: 350px;
    min-height: 1500px;}
  /*.deck .card { height:2vw; width:2vw;}*/
  /*.score-panel {width:150px;}
  .sound{margin-left:0em;}*/

}*/
